<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset='utf-8'>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/mini-logo.png"/>
</head>

<body>
    <header>
        <div class="logo">
            <a class="Задачи" href="/">Академия</a>
        </div>
        <div class="header-nav">
            <a class="Задачи" href="/">Задачи</a>
            <a class="Добавить" href="/goal/add">Тесты</a>
            <a class="Утвердить" href="/goal/approve">Вакансии</a>
        </div>
        <div class="header-user">
            <a class="Сводка" href="/goal/summary">Еженедельный кейс</a>
            <p>{{ user }}</p>
            <img class="user-logo" src="/static/img/user-logo.png">
        </div>
    </header>
    {% block content %}

    {% endblock %}
</body>