<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset='utf-8'>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/mini-logo.png"/>
</head>

<body>
    <header>
        <div class="logo">
            <a class="Задачи" href="/">Академия</a>
        </div>
        <div class="header-nav">
            <a class="Задачи" href="/">Задачи</a>
            <a class="Добавить" href="/test/browse_tests">Тесты</a>
            <a class="Утвердить" href="/vacancy/browse">Вакансии</a>
        </div>
        <div class="header-user">
            <a class="Сводка" href="/">Еженедельный кейс</a>
            <p>{{ user }}</p>
            <img class="user-logo" src="/static/img/user-logo.png">
        </div>
        <div class="uved-container">
            <p>Уведомления</p>
            <div class="uved">
                <p class="uved-name">Иванов Иван Иванович 6/10(60%)</p>
                <div class="decision">
                    <p class="easy">Принять</p>
                    <p class="hard">Отклонить</p>
                </div>
                <p class="normal">Посоветовать ментора</p>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
    <script type="module" src="/static/js/uved.js"></script>
</body>