{% extends 'layout.html' %}

{% block title %}Задачи{% endblock %}

{% block content %}
    <div class="task-content">
        <div class="task-filter">
            <p>Задачи</p>
            <div class="search-filter">
                <img class="search-icon" src="/static/img/search.svg">
                <input class="search-input" placeholder="Поиск">
            </div>
            <p>Модули</p>
            <div class="skills-filter">
                <span id="python">Python</span>
                <span id="csharp">C#</span>
                <span id="sql">SQL</span>
            </div>
            <p>Сложности</p>
            <div class="difficulty-filter">
                <span class="easy">Легкая</span>
                <span class="normal">Средняя</span>
                <span class="hard">Сложная</span>
            </div>
            <p>Статус решения</p>
            <div class="is-done-filter">
                <span class="done">Решено</span>
                <span class="undone">Не решено</span>
            </div>
        </div>
        <div class="tasks-list">
            <div class="tasks-sort">
                <p>Название</p>
                <p>Модуль</p>
                <p>Сложность</p>
                <p>Статус решения</p>
            </div>
        </div>
    </div>
    <script type="module" src="/static/js/tasks.js"></script>
{% endblock %}