@font-face {
	font-family: "SbSans";
	src: url("/static/fonts/SBSansDisplay-Regular.eot");
	src: url("/static/fonts/SBSansDisplay-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/static/fonts/SBSansDisplay-Regular.svg") format("svg"), /* Legacy iOS */
		url("/static/fonts/SBSansDisplay-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/static/fonts/SBSansDisplay-Regular.woff") format("woff"), /* Modern Browsers */
		url("/static/fonts/SBSansDisplay-Regular.woff2") format("woff2"); /* Modern Browsers */
	
    font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SbSans";
	src: url("/static/fonts/SBSansDisplay-Bold.eot");
	src: url("/static/fonts/SBSansDisplay-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/static/fonts/SBSansDisplay-Bold.svg") format("svg"), /* Legacy iOS */
		url("/static/fonts/SBSansDisplay-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/static/fonts/SBSansDisplay-Bold.woff") format("woff"), /* Modern Browsers */
		url("/static/fonts/SBSansDisplay-Bold.woff2") format("woff2"); /* Modern Browsers */
	
    font-weight: bold;
	font-style: normal;
}


body{
    max-width: 1740px;
    margin: 0 auto;
    font-family: 'SbSans';
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 74px;
    box-sizing: border-box;
    padding: 11px 34px 10px 34px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

.logo a{
    font-weight: 700;
    font-size: 32px;
    color: #209F38;
}

.logo{
    margin-top: 4px;
}

.header-nav a, .header-user p, .header-user a{
    font-size: 25px;
    color: black;
}

.header-nav, .header-user p, .header-user a{
    margin-top: 10px;
}

.header-user p{
    margin-right: 14px;
}

.header-nav a, .header-user a{
    margin-right: 52px;
}

.header-nav a:nth-last-child(1){
    margin-right: 0;
}

.header-user{
    display: flex;
}

.user-logo{
    width: 52px;
    height: 52px;
}

.nav-line{
    position: absolute;
    width: 87px;
    height: 0px;
    left: 26%;
    top: 74px;

    border: 1px solid #000000;
}

.task-content{
    display: flex;
}

.task-filter{
    width: 20%;
}

.tasks-list{
    width: 80%;
}

.tasks-sort{
    width: 100%;
    box-sizing: border-box;
    height: 47px;
    display: flex;
    justify-content: space-between;
    background: #EBEBEB;
    padding: 14px 57px 14px 57px;
}

.tasks-list p{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #6A6A65;
}

.task{
    box-sizing: border-box;
    height: 47px;
    display: flex;
    padding: 14px 57px 14px 57px;
    border-bottom: 1px solid #D0D0CE;
}

#task-name{
    width: 402px;
}

#task-module{
    width: 358px;
}

#task-difficulty{
    margin-right: 375px;
}

.done, .undone{
    font-weight: bold;
    margin: 0 auto;
    box-sizing: border-box;
    height: 24px;
    padding: 5px 6px 5px 6px;
    font-size: 12px !important;
    border-radius: 50px;
}

.done{
    background: #E5F5E4;
    color: #3F8B35 !important;
}

.undone{
    background: #F9CFCF;
    color: #FF3E3E !important;
}

.easy{
    color: #66E76B !important;
}

.normal{
    color: #E7DA66 !important;
}

.hard{
    color: #E76666 !important;
}